<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
    <body>
        <nav>
            <h1 class="big-title">theraNotes</h1>
            <div class="dropdown-menu"></div>
        </nav>
        <div class="client-top-display">
            <h4 class="client-top-display-welcome-back-text">Welcome back, user.</h4>
            <p class="client-top-display-start-planning-text">Start planning for your next session below.</p>
            <a><button class="client-top-display-big-button">Plan for Next Session</button></a>
        </div>
        <div class="client-all-sessions-display">
            <p class="all-sessions-subtitle">All Sessions</p>
            
            <% for (let i=0; i<notes.length; i++) { %>
                <div class="session-note-container">
                    <div class="date-and-edit-button">
                        <p><%= dates[i] %></p>
                        <a href="/notes/<%= notes[i]._id %>/edit"><button>edit</button></a>
                    </div>
                    <div class="pre-and-post-note-preview">

                    </div>
                </div>
            <% } %>
        </div>
    </body>
</html>