<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
    <body>
        <nav>
            <h1 class="big-title">theraNotes</h1>
            <div class="dropdown-menu"></div>
        </nav>
        <div class="client-top-display">
            <h4 class="client-top-display-welcome-back-text">Welcome back, user.</h4>
            <p class="client-top-display-start-planning-text">Start planning for your next session below.</p>
            <a><button class="client-top-display-big-button">Plan for Next Session</button></a>
        </div>
        <div class="client-all-sessions-display">
            <p class="all-sessions-subtitle">All Sessions</p>
        </div>
    </body>
</html>