<footer>
    <div class="footer-theranotes-description">
        <h1 class="footer-big-title"><span class="thera">thera</span>Notes</h1>
        <p class="description">theraNotes is a therapy-session note tracking app developed by web developer Cindy Wong. Check out some more of Cindy's work in the links provided.</p>
    </div>
    <div class="footer-nav">
        <p class="footer-nav-heading">theraNotes nav</p>

        <a href="/home">Home</a>
        <a href="/notes/new">Add New Session</a>
        <a href="/logout" id="logout-link">Logout</a>
    </div>
    <div class="about-cindy">
        <p class="about-cindy-links-heading">about cindy</p>

        <a href="https://github.com/cinduhrz">Github</a>
        <a href="https://www.linkedin.com/in/cindywongdev/">LinkedIn</a>
        <a href="https://github.com/cinduhrz/Project2-theraNotes">theraNotes Repo</a>
    </div>
</footer>