<header>
    <nav class="web-nav">
        <h1 class="big-title"><span class="thera">thera</span>Notes</h1>
        <div class="menu-links-container">
                <a href="/home">Home</a>
                <a href="/notes/new">Add New Session</a>
                <a href="/logout" id="logout-link">Logout</a>
        </div>
    </nav>

    <!-- <nav class="mobile-side-nav">
        <h1>hi</h1>
    </nav> -->

</header>