<header>
    <nav class="web-nav">
        <a href="/" class="logo-a-tag"><h1 class="big-title"><span class="thera">thera</span>Notes</h1></a>

        <div class="login-signup-buttons-container">
                <a href="/login"><button>Login</button></a>
                <a href="/signup"><button>Signup</button></a>
        </div>
    </nav>
</header>