<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs', {title: "theraNotes"}) %>

    <body>
        <%- include('./partials/signup-login-header.ejs') %>

        <main>
            <div class="theranotes-main-display">
                <div class="theranotes-text">
                    <h1 class="welcome-to-theranotes">Welcome to theraNotes.</h3>
                    <p class="theranotes-description">theranotes description here</p>
                    <a href="/signup"><button>Get Started</button></a>
                </div>
            </div>
        </main>
        <%- include('./partials/footer.ejs') %>
    </body>
</html>