<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs', {title: "theraNotes"}) %>

    <body>
        <%- include('./partials/signup-login-header.ejs') %>

        <main class="theranotes-main-display">
            <div class="theranotes-text">
                <h1 class="welcome-to-theranotes">Welcome to theraNotes.</h3>
                <p class="theranotes-description">A place to jot down what's on your mind before therapy and your insights after therapy. theraNotes makes it easy to keep track of your progress throughout your therapy journey.</p>
                <a href="/signup"><button class="index-page-button">Get Started</button></a>
            </div>
        </main>
        <%- include('./partials/footer.ejs') %>
    </body>
</html>