<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs', { title: "theraNotes | Signup" }) %>

    <body>
        <%- include('../partials/signup-login-header.ejs') %>
        
        <main class="login-signup-form-main">
            <div class="login-signup-form-container">
                <form action="/login" method="POST">
                    <fieldset id="login-form">
                        <legend class="signup-login-legend">Login<span class="signup-login-form-description">Welcome back! Please log in to your theraNotes account to continue.</span></legend>
                        <label>
                            <input type="text" name="username" placeholder="username" required>
                        </label>
                        <label>
                            <input type="password" name="password" placeholder="password" required>
                        </label>

                        <input class="signup-login-button" type="submit" value="Login">

                        <a href="/signup" class="signup-login-switch-text" >Don't have an account? <span>Sign up.</span></a>

                    </fieldset>
                </form>
            </div>
        </main>
        
        <%- include('../partials/footer.ejs') %>
    </body>

</html>