<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs', { title: "theraNotes | Signup" }) %>

    <body>
        <%- include('../partials/signup-login-header.ejs') %>
        
        <main>
            <div>
                <form action="/signup" method="POST">
                    <fieldset>
                        <legend>Sign up for theraNotes</legend>
                        <label>
                            username: <input type="text" name="username" required>
                        </label>
                        <label>
                            password: <input type="password" name="password" required>
                        </label>
                        <input type="submit" value="Create Account">
                    </fieldset>
                </form>
            </div>
        </main>
        
        <%- include('../partials/footer.ejs') %>
    </body>

</html>