html,
body {
    height: 100%;
    margin: 0;
    background-color: white;
    font-family: 'Nunito', sans-serif;
}

nav {
    display: flex;
    justify-content: center;
    border-bottom: 0.15rem solid black;
}

.thera {
    color: rgb(243, 140, 157);
}

.big-title {
    padding: 0px;
    margin: 1.2rem;
    font-size: 4rem;
    font-family: 'Comfortaa', cursive;
    
}

.client-top-display {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.client-top-display-welcome-back-text {
    font-size: 1.8rem;
    margin: 0.5rem;
    margin-top: 3rem;
}

.client-top-display-start-planning-text {
    font-size: 1.5rem;
    margin: 1rem;
}

.client-top-display-big-button {
    font-family: 'Nunito', sans-serif;
    font-size: 2.5rem;
    margin: 3rem 1rem 3rem 1rem;
    padding: 1rem 2rem;
    border-radius: 1rem;
    background-color: rgb(191, 191, 191);
    border: none;
    transition: 0.2s;
}

.client-top-display-big-button:hover {
    color: white;
    background-color: rgb(241, 180, 190);
}

.client-all-sessions-display {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.all-sessions-subtitle {
    font-size: 1.2rem;
}

button {
    cursor: pointer;
}

.session-note-container {
    border: none;
    width: 60%;
    background-color: pink;
    margin: 1rem;
    border-radius: 1rem;
}

.date-and-buttons-container {
    display: flex;
    justify-content: space-between;
}

.note-date {
    margin: 1rem;
}

.buttons-container {
    display: flex;
}

.buttons-container button, .delete-button {
    margin: 0.8rem 1rem 0 1rem;
    border-radius: 1rem;
    border: none;
    padding: 0.5rem;
    transition: 0.2s;
}

.buttons-container button:hover, .delete-button:hover{
    color: white;
    background-color: rgb(120, 120, 120);
    /* line below is redundant for other buttons but needed for delete button as it is an input element */
    cursor: pointer;
}

.pre-and-post-note-preview {
    display: flex;
    /* not sure what justify-content is doing here,
    i'm just tryna keep each preview on its half */
    /* justify-content: space-between;  */
    padding: 0 1rem 1rem 1rem;
}

.pre-session-preview, .post-session-preview {
    background-color: white;
    border-radius: 1rem;
    width: 50%;
    padding: 1rem;
    margin: 0 0.5rem 0.5rem 0.5rem;
}

.pre-session-preview {
    margin-right: 1rem;
}

.pre-session-preview-heading, .post-session-preview-heading {
    font-size: 1.1rem;
    color: rgb(85, 85, 85);
    margin: 0 0 0.5rem 0;
}

.new-session-top-display {
    text-align: center;
}

.new-session-start-planning-text {
    font-size: 1.8rem;
}

.new-session-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.new-session-pre-and-post-notes-container {
    display: flex;
    justify-content: space-around;
    border: 1px solid red;
    width: 80%;
}

.new-session-pre-session-area, .new-session-post-session-area {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* use css grid here for text areas? they r being weird */
.new-session-note-input {
    width: 300%;
    height: 500px;
}

.new-session-back-button-area {
    display: flex;
    justify-content: center;
}

.show-session-top-display {
    display: flex;
    flex-direction: column;
    font-size: 1.8rem;
    align-items: center;
}

.show-session-your-session-on-text {
    margin-bottom: 1.5rem;
}

.show-session-delete-button {
    margin-bottom: 2rem;
}

.show-session-delete-button input {
    margin: 0rem 1rem 0 1rem;
    border-radius: 1rem;
    border: none;
    padding: 0.75rem;
    transition: 0.2s;
    font-size: 1rem;
}

.show-session-delete-button input:hover {
    color: white;
    background-color: rgb(120, 120, 120);
}

.show-session-notes-display {
    display: flex;
    justify-content: space-evenly;
}

.show-pre-session-notes-container, .show-post-session-notes-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid black; */
    width: 35%;
    background-color: pink;
    border-radius: 1rem;
    padding-bottom: 2rem;
}

.show-session-pre-notes-subtitle, .show-session-post-notes-subtitle {
    font-size: 1.5rem;
}

.show-pre-session-notes-text, .show-post-session-notes-text {
    /* border: 1px solid black; */
    margin: 0 7%;
    padding: 1rem;
    background-color: white;
    border-radius: 1rem;
    font-size: 1.1rem;
}

.show-session-buttons-area {
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    margin: 1rem;
    padding: 1rem;
}

.show-session-buttons-area button {
    margin: 0.8rem 1rem 0 1rem;
    border-radius: 1rem;
    border: none;
    padding: 0.75rem;
    transition: 0.2s;
    font-size: 1rem;
}

.show-session-buttons-area button:hover {
    color: white;
    background-color: rgb(120, 120, 120);
}

.edit-session-top-display {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.edit-session-now-writing-text {
    font-size: 1.8rem;
    margin-bottom: 0;
}

.edit-session-sent-status-text {
    font-size: 1.5rem;
}

.send-to-therapist-button {
    margin-left: 0.5rem;
    border-radius: 1rem;
    border: none;
    padding: 0.75rem;
    transition: 0.2s;
    font-size: 1rem;
}

.edit-session-note-input, .new-session-note-input {
    /* border: 1px solid black; */
    margin: 0 7%;
    padding: 1rem;
    background-color: white;
    border-radius: 1rem;
    font-size: 1.1rem;
}