html,
body {
    height: 100%;
    margin: 0;
    background-color: white;
    font-family: 'Nunito', sans-serif;
}

nav {
    display: flex;
    justify-content: center;
    border-bottom: 0.15rem solid black;
}

.thera {
    color: rgb(243, 140, 157);
}

.big-title {
    padding: 0px;
    margin: 1.2rem;
    font-size: 4rem;
    font-family: 'Comfortaa', cursive;
    
}

.client-top-display {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.client-top-display-welcome-back-text {
    font-size: 1.8rem;
    margin: 0.5rem;
    margin-top: 3rem;
}

.client-top-display-start-planning-text {
    font-size: 1.5rem;
    margin: 1rem;
}

.client-top-display-big-button {
    font-family: 'Nunito', sans-serif;
    font-size: 2.5rem;
    margin: 3rem 1rem 3rem 1rem;
    padding: 1rem 2rem;
    border-radius: 1rem;
    background-color: rgb(191, 191, 191);
    border: none;
    transition: 0.2s;
}

.client-top-display-big-button:hover {
    color: white;
    background-color: rgb(241, 180, 190);
}

.client-all-sessions-display {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.all-sessions-subtitle {
    font-size: 1.2rem;
}

button {
    cursor: pointer;
}

.session-note-container {
    border: none;
    width: 60%;
    background-color: pink;
    margin: 1rem;
    border-radius: 1rem;
}

.date-and-buttons-container {
    display: flex;
    justify-content: space-between;
}

.note-date {
    margin: 1rem;
}

.buttons-container {
    display: flex;
}

.buttons-container button, .delete-button {
    margin: 0.8rem 1rem 0 1rem;
    border-radius: 1rem;
    border: none;
    padding: 0.5rem;
    transition: 0.2s;
}

.buttons-container button:hover, .delete-button:hover{
    color: white;
    background-color: rgb(120, 120, 120);
    /* line below is redundant for other buttons but needed for delete button as it is an input element */
    cursor: pointer;
}

.pre-and-post-note-preview {
    display: flex;
    /* not sure what justify-content is doing here,
    i'm just tryna keep each preview on its half */
    /* justify-content: space-between;  */
    padding: 0 1rem 1rem 1rem;
}

.pre-session-preview, .post-session-preview {
    background-color: white;
    border-radius: 1rem;
    width: 50%;
    padding: 1rem;
    margin: 0 0.5rem 0.5rem 0.5rem;
}

.pre-session-preview {
    margin-right: 1rem;
}

.pre-session-preview-heading, .post-session-preview-heading {
    font-size: 1.1rem;
    color: rgb(85, 85, 85);
    margin: 0 0 0.5rem 0;
}

.new-session-top-display {
    text-align: center;
}

.new-session-start-planning-text {
    font-size: 1.8rem;
}

.new-session-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.new-session-pre-and-post-notes-container {
    display: flex;
    justify-content: space-around;
    border: 1px solid red;
    width: 80%;
}

.new-session-pre-session-area, .new-session-post-session-area {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.new-session-note-input {
    width: 400%;
    height: 500px;
}

.new-session-back-button-area {
    display: flex;
    justify-content: center;
}


/* 

.notes__add {
    background: #009578;
    border: none;
    border-radius: 7px;
    color: #ffffff;
    cursor: pointer;
    font-size: 1.25em;
    font-weight: bold;
    margin-bottom: 1em;
    padding: 0.75em 0;
    width: 100%;
}

.notes__add:hover {
    background: #00af8c;
}

.notes__list-item {
    cursor: pointer;
}

.notes__list-item--selected {
    background: #eeeeee;
    border-radius: 7px;
    font-weight: bold;
}

.notes__small-title,
.notes__small-updated {
    padding: 10px;
}

.notes__small-title {
    font-size: 1.2em;
}

.notes__small-body {
    padding: 0 10px;
}

.notes__small-updated {
    color: #aaaaaa;
    font-style: italic;
    text-align: right;
}

.notes__preview {
    display: flex;
    flex-direction: column;
    padding: 2em 3em;
    flex-grow: 1;
}

.notes__title,
.notes__body {
    border: none;
    outline: none;
    width: 100%;
}

.notes__title {
    font-size: 3em;
    font-weight: bold;
}

.notes__body {
    flex-grow: 1;
    font-size: 1.2em;
    line-height: 1.5;
    margin-top: 2em;
    resize: none;
} */