html,
body {
    height: 100%;
    margin: 0;
    background-color: white;
    font-family: 'Nunito', sans-serif;
}

nav {
    display: flex;
    justify-content: center;
    border-bottom: 0.15rem solid black;
}

.big-title {
    padding: 0px;
    margin: 2rem;
    font-size: 4rem;
    font-family: 'Comfortaa', cursive;
    
}

.client-top-display {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.client-top-display-welcome-back-text {
    font-size: 1.8rem;
    margin: 0.5rem;
    margin-top: 3rem;
}

.client-top-display-start-planning-text {
    font-size: 1.5rem;
    margin: 1rem;
}

.client-top-display-big-button {
    font-family: 'Nunito', sans-serif;
    font-size: 2.5rem;
    margin: 3rem 1rem 3rem 1rem;
    padding: 1rem 2rem;
    border-radius: 1rem;
    background-color: rgb(191, 191, 191);
    border: none;
    transition: 0.2s;
}

.client-top-display-big-button:hover {
    color: white;
    background-color: rgb(241, 180, 190);
}

.client-all-sessions-display {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.all-sessions-subtitle {
    font-size: 1.2rem;
}

button {
    cursor: pointer;
}

.notes__sidebar {
    border-right: 3px solid pink;
    flex-shrink: 0;
    overflow-y: auto;
    padding: 1em;
    width: 300px;
}

/* 

.notes__add {
    background: #009578;
    border: none;
    border-radius: 7px;
    color: #ffffff;
    cursor: pointer;
    font-size: 1.25em;
    font-weight: bold;
    margin-bottom: 1em;
    padding: 0.75em 0;
    width: 100%;
}

.notes__add:hover {
    background: #00af8c;
}

.notes__list-item {
    cursor: pointer;
}

.notes__list-item--selected {
    background: #eeeeee;
    border-radius: 7px;
    font-weight: bold;
}

.notes__small-title,
.notes__small-updated {
    padding: 10px;
}

.notes__small-title {
    font-size: 1.2em;
}

.notes__small-body {
    padding: 0 10px;
}

.notes__small-updated {
    color: #aaaaaa;
    font-style: italic;
    text-align: right;
}

.notes__preview {
    display: flex;
    flex-direction: column;
    padding: 2em 3em;
    flex-grow: 1;
}

.notes__title,
.notes__body {
    border: none;
    outline: none;
    width: 100%;
}

.notes__title {
    font-size: 3em;
    font-weight: bold;
}

.notes__body {
    flex-grow: 1;
    font-size: 1.2em;
    line-height: 1.5;
    margin-top: 2em;
    resize: none;
} */